.content-container {
    padding: 20px;
    background-color: '#eceef0';
}
.content-container h1 {
    font-weight: 600;
    padding-bottom: 4px;
}
.content-container h2 {
    padding-top: 10px;
}
.list-booking{
    background-color: white;
    padding: 20px;
    border-radius: 20px;
}