.contentContainer {
    padding: 20px;
    background-color: '#eceef0';
}
.contentContainer h1 {
    font-weight: 600;
    padding-bottom: 4px;
}
.contentContainer h2 {
    padding-top: 10px;
}
.listBooking{
    background-color: white;
    padding: 20px;
    border-radius: 20px;
}
.statusTag {
    padding: 4px 12px;
    border-radius: 16px;
    font-size: 12px;
    display: inline-block;
    &.inprogress {
        background: #E7F8F0;
        color: #41C588;
    }
    &.confirmed {
        background: #FEF4E6;
        color: #F9A63A;
    }
    &.canceled {
        background: #FEECEB;
        color: #F36960;
    }
    &.complete {
        background: #E8F1FD;
        color: #448DF2;
    }
    &.inactive {
        background: #e2e3e5;
        color: #6c757d;
    }
    &.pending {
        background: #e2e3e5;
        color: #343a40;
    }
}

.paymentTag {
    padding: 4px 12px;
    border-radius: 16px;
    font-size: 12px;
    display: inline-block;
    &.unpaid {
        background: #fff7e6;
        color: #fa8c16;
    }
    &.fullypaid {
        background: #f6ffed;
        color: #52c41a;
    }
    &.depositreturned {
        background: #fff1f0;
        color: #f5222d;
    }
    &.deposited {
        background: #e6f4ff;
        color: #1677ff;
    }
    &.depositforfeited {
        background: #fff1f0;
        color: #f5222d;
    }   
    
}

