.clock-realtime {
    height: 40px;
    width: 100%;
    display: flex;
    align-items: right;
    justify-content: right;
    background-color: white; 
   

}
.clock-realtime .clockContent {
    text-align: right;
    padding-right: 2%;
    padding-top: 12px ;
}
.card-list{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}
.content-container {
    padding: 20px;
    background-color: '#eceef0';
}
.content-container h1 {
    font-weight: 600;
    padding-bottom: 4px;
}
.card-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 25%;
  }
  
  .card-row {
    display: flex; // Ensures content and icon are in the same row
    justify-content: space-between; // Pushes content and icon to opposite sides
  }
  
  .card-content {
    display: flex;
    flex-direction: column; // Ensures text and number stack vertically
  }
  
  .card-content p {
    margin: 0;
    font-size: 14px;
    color: #666;
  }
  
  .card-content h2 {
    margin: 0;
    font-weight: bold;
    font-size: 24px;
    padding-right: 20px;
  }
  
  .icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 50px; // Adjust to your desired size
    height: 50px; // Adjust to your desired size
    //background-color: #e5e4ff; // Light blue background color
    border-radius: 40%; 
    margin-left: 20px;// Makes it circular
  }
  
  .icon-wrapper .anticon {
    font-size: 24px; // Adjust size as needed
    //color: #5c7cfa; // Icon color
  }
  .list-group-container {
    display: flex;
    flex-direction: row;
    gap: 24px;
    width: 100%;
  }
  
  .list-love-place-container {
    flex: 1;
    width: 50%;
  }
  
  .list-review-customer-container {
    flex: 1;
    width: 50%;
  }
  
  .section-title {
    margin-bottom: 16px;
  }
  
  .table-container {
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    width: 100%;
  }
  