.contentContainer {
    padding: 20px;
    .contentTable{
        background-color: white;
        padding: 20px;
        border-radius: 20px;
        .tool{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
            .searchFilter{
                
            }
        }
    }
}
.status{
    padding: 4px 12px;
    border-radius: 16px;
    font-size: 12px;
    display: inline-block;
    &.active{
        background-color: #E8F1FD;
        color: #448DF2;
    }
    &.inactive{
        background-color: #FEECEB;
        color: #F36960;
    }
}