.cardContainer {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 25%;
  }


  .cardRow {
    display: flex; // Ensures content and icon are in the same row
    justify-content: space-between; // Pushes content and icon to opposite sides
  }
  
  .cardContent {
    display: flex;
    flex-direction: column; // Ensures text and number stack vertically
  }
  
  .cardContent p {
    margin: 0;
    font-size: 14px;
    color: #666;
  }
  
  .cardContent h2 {
    margin: 0;
    font-weight: bold;
    font-size: 24px;
    padding-right: 20px;
  }
  
  .iconWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 50px; // Adjust to your desired size
    height: 50px; // Adjust to your desired size
    background-color: #e5e4ff; // Light blue background color
    border-radius: 40%; 
    margin-left: 20px;// Makes it circular
  }
  
  .iconWrapper .anticon {
    font-size: 24px; // Adjust size as needed
  }