.contentContainer{
    padding: 10;
    .rowItems{
        padding: 20px;
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
    }
    
}

.bookingOverview{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
@media (max-width: 768px) {
    .bookingOverview{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
}